@import '../../scss/vars';

.Login {
    padding-top: calc( #{$navbar-height} + 20rem);
    display: flex;
    flex-direction: column;
    align-items: center; 
    flex-grow: 1;
    background-color: $rare-color;
}