@import "../../scss/vars.scss";

.Chat {
    padding-top: calc( #{$navbar-height} + 4rem);
    display: flex;
    flex-direction: column;
    align-items: center; 
    flex-grow: 1;
    background-color: $rare-color;
    padding-bottom: 4rem;


    &__title {
        align-self: center;
        margin-bottom: 2rem;
        font-family: 'Roboto';
    }

    &__messages {
        background-color: #fff;
        height: 70vh;
        border-radius: 10px;

        box-shadow: 0px 0px 3px 1px #000;
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 1rem 2rem;
        row-gap: 1rem;
        justify-content: flex-start;
        margin-bottom: 1rem;
    }

    &__input {
        flex-grow: 1;
        border-radius: 8px;
        box-shadow: 0px 1px 3px 0px #000;
        outline: none;
        padding: 0.4rem 1rem;
        font-size: 1.2rem;
        margin-right: 1rem;
        &:focus {
            box-shadow: inset 0px 0px 3px 1px rgb(119, 61, 255);
        }
    }

    &__form {
        display: flex;
        width: 100%;
    }
}