@import '../../scss/vars';

.Navbar {
    height: $navbar-height;
    width: 100%;
    position: fixed;
    z-index: 2;
    background-color: $accent-color;
    color: white;
    padding-left: 3rem;
    padding-right: 3rem;
    justify-content: space-between;
    display: flex;
    align-items: center;
    box-shadow: 1px 0px 3px 1px rgb(0, 0, 0);

    
}